<h1>Welcome to Chitter</h1>

<a href="/create_peep"><button>Add Peep</button></a>

<ul>
<% @peeps.reverse.each do |peep| %>
<br>
<li><%= peep.peep %></li>
<li>Peep created at<%= peep.time %></li>
<% end %>
</ul>